/* -------------------------------- 

Primary style

-------------------------------- */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 800;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Open sans";
  color: #7f8c97;
  background-color: #e9f0f5;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 800;
  color: #59358c;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */
@media only screen and (min-width: 1170px) {
  .cd-is-hidden {
    visibility: hidden;
  }
}

/* -------------------------------- 

Vertical Timeline - by CodyHouse.co

-------------------------------- */
header {
  min-height: 200px;
  text-align: center;
  background: #59358c;
}

header h1 {
  padding: 2rem 0rem;
  color: #fff;
  font-size: 1.8rem;
}

header div {
  color: #ccc;
}

header div a,
header div a:visited {
  color: #ccc;
  font-weight: 800;
}

header div a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 1170px) {
  header {
    min-height: 200px;
  }

  header h1 {
    font-size: 2.4rem;
  }
}

.tl {
  overflow: hidden;
  margin: 2em auto;
}

.tl__container {
  position: relative;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 2em 0;
}

.tl__container::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
  .tl {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .tl__container::before {
    left: 50%;
    margin-left: -2px;
  }
}

.tl__block {
  position: relative;
  margin: 2em 0;
}

.tl__block:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.tl__block:first-child {
  margin-top: 0;
}

.tl__block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .tl__block {
    margin: 4em 0;
  }
}

.tl__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.tl__img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.tl__img.tl__img--picture {
  background: #59358c;
}

.tl__img.tl__img--movie {
  background: #59358c;
}

.tl__img.tl__img--location {
  background: #59358c;
}

@media only screen and (min-width: 1170px) {
  .tl__img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .tl__img.tl__img--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

blockquote {
  line-height: 2em;
  color: #59358c99;

  font-style: italic;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #59358c;
  font-size: 4rem;
  width: 4rem;
  /* height: 4rem; */
  /* margin: 2rem; */
}

blockquote:before {
  content: '“';
  position: relative;
  /* left: .3rem; */
  /* top: .5rem; */
}

blockquote:after {
  position: absolute;
  content: '”';
  /* right: -.5rem;
  bottom: .5rem; */
}

cite {
  line-height: 3;
  text-align: left;
}

.tl__content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  -webkit-box-shadow: 0 3px 0 #d7e4ed;
  box-shadow: 0 3px 0 #d7e4ed;
}

.tl__content:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.tl__content::before {
  /* triangle next to content block */
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

.tl__content h2 {
  color: #59358c;
  text-transform: capitalize;
}

.tl__content p,
.tl__read-more,
.tl__date {
  font-size: 2rem;
}

.tl__content p {
  margin: 1em 0;
  line-height: 1.6;
}

.tl__read-more,
.tl__date {
  display: inline-block;
}

.tl__read-more {
  float: right;
  padding: .8em 1em;
  border: solid 1px #59358c;
  background: #59358c;
  color: white;
  border-radius: 0.5em;
  margin: .5em;
}

.tl__read-more:hover {
  background-color: #fff;
  color: #59358c;
}

.tl__date {
  float: left;
  padding: .8em 0;
  font-weight: 800;
}

table,
table tr {
  border: solid 1px #ccc;
}

table td {
  padding: .5em;
}

@media only screen and (min-width: 768px) {
  .tl__content h2 {
    font-size: 2rem;
  }

  .tl__content p {
    font-size: 1.6rem;
  }

  .tl__read-more,
  .tl__date {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1170px) {
  .tl__content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .tl__content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }

  .tl__read-more {
    float: left;
  }

  .tl__date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 1.6rem;
  }

  .tl__block:nth-child(even) .tl__content {
    float: right;
  }

  .tl__block:nth-child(even) .tl__content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }

  .tl__block:nth-child(even) .tl__read-more {
    float: right;
  }

  .tl__block:nth-child(even) .tl__date {
    left: auto;
    right: 122%;
    text-align: right;
  }

  .tl__content.tl__content--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {

  /* inverse bounce effect on even content blocks */
  .tl__block:nth-child(even) .tl__content.tl__content--bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}



/* Styles the thumbnail */

div.lightbox img {
  height: 150px;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
  margin: 94px 20px 20px 20px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

span.lightbox-close {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

span.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

span.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target.active {
  opacity: 1;
  top: 0;
  bottom: 0;
  text-align: center;
}

.lightbox-target.active img {
  display: none;
  max-height: 100%;
  max-width: 100%;
}

img[data-activate] {
  cursor: pointer;
}

.lightbox-target.active img.vis {
  display: block;
}


.lightbox-target.active span.lightbox-close {
  top: 0px;
  cursor: pointer;
}